<!-- ==============================================
		HEADER
=============================================== -->

<header class="header">
  <div class="header_text-box">
	  <div class="add-movie">
		  	<input type="text" class="form-control" id="movie-input" placeholder="Movie name" aria-label="" aria-describedby="basic-addon1">
			<button class="btn" id="add-movie-button" type="button">Add</button>
	  </div>
      <h1 class="heading">
		  <span class="heading-get" >get</span>
	      <span class="heading-Reel">Reel</span>
	  </h1>
	  <h3 class="heading-slogan">Some text or slogan maybe</h3>
	  
 </div>
    
</header>
<main >
<!-- ==============================================
		MOVIES WATCHLIST
=============================================== -->
<div class="search-movie">
	<input type="text" class="form-control" placeholder="Movie name from list" aria-label="" aria-describedby="basic-addon1">
	<button class="btn" id="search-movie-button" type="button">Search</button>
</div>
     
<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<div id="movies-view"></div>
		</div>
	</div>
</div>



<!-- ==============================================
		MODAL OR BOOT BOX?
=============================================== -->



<!-- ==============================================
		WATCHED MOVIES
=============================================== -->


</main>

<!-- ==============================================
		FOOTER
=============================================== -->
<footer>


</footer>