<!-- ==============================================
		HEADER
=============================================== -->

<div class="container">
     
    <h1 id="header">{{title}}</h1>
    <p>Some text explainig what this does</p>
</div>
    
<!-- ==============================================
		MOVIES WATCHLIST
=============================================== -->

<div class="container">

</div> 

<!-- ==============================================
		MODAL OR BOOT BOX?
=============================================== -->

<!-- ==============================================
		WATCHED MOVIES
=============================================== -->

<!-- ==============================================
		FOOTER
=============================================== -->