<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    
    <!--jQuery-->
  	<script src="https://code.jquery.com/jquery.js"></script>
    
    <!-- LINK TO CSS FILE -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- Bootstrap -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
   <!-- LINK TO JS FILE -->
    <script type="text/javascript" src="javascripts/script.js"></script>

  <!-- jQuery Modal ??????????????-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <!-- Links to Google Web Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
